@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #20242F;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #20242F;
  /* Force dark background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide Scrollbar for Webkit (Chrome/Safari/Edge) to prevent "Double Scroll" in Iframe */
::-webkit-scrollbar {
  display: none;
}

/* Hide for Firefox */
html {
  scrollbar-width: none;
}